<div class="header-container">
	<div class="left-header-container">
		<a href="#/dashboard">
			<span>Book Manager</span>
		</a>
	</div>
	<div class="center-header-container">
		<i class="material-icons header-buttons" ng-click="toggleSidebar();">view_headline</i>
	</div>
	<div class="right-header-container">
		<div class="first-right-header-container">
			<i class="material-icons header-buttons-alt">notifications</i>
		</div>
		<div class="second-right-header-container">
			<i class="material-icons header-buttons-alt">search</i>
			<i class="material-icons header-buttons-alt">face</i>
			<i class="material-icons header-buttons-alt">settings</i>
		</div>
	</div>
</div>